DOMAIN=localhost
BASE_URL=http://localhost:8000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/main
FRONTEND_ORIGIN=http://localhost:3000
CORS_ORIGIN_HOPPSCOTCH=moz-extension://c69d1b9c-cc26-44f1-8bc1-81ae998e2ba2
CORS_ORIGIN_BROWSER_EXTENSION=chrome-extension://kdbiblpmgnoleopdcfknhfpghpjidnbl
ENABLE_EMAIL_VERIFICATION=false
RESEND_API_KEY=re_8utW5MzF_CTwayYM4A8Sy1nZRk3hfo4tQ
JWT_SECRET=UzD3u3JT5uqou2FYEUQH7L4ZSenaSEgHZ7Xb9V5QkaLV25weoZ

MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=tjiDmy5TmauirSwC5fbgxfNRjUaNUQcDYKUYCFjq
